<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abrarulwaz2022.abrarulbanglawaz2022">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AzhariBanglaWaz2022">
        <activity android:name="com.abrarulwaz2022.abrarulbanglawaz2022.views.IslamLife"></activity>
        <activity android:name="com.abrarulwaz2022.abrarulbanglawaz2022.views.LifeActivity" />
        <activity android:name="com.abrarulwaz2022.abrarulbanglawaz2022.views.WazActivity" />
        <activity android:name="com.abrarulwaz2022.abrarulbanglawaz2022.views.LifeStoryLoad" />
        <activity android:name="com.abrarulwaz2022.abrarulbanglawaz2022.views.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1905179364235619~7584871581"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>